body {
  background-image: url(endgame.jpg);
  /* Full height */
  height: 100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

.countdown-container {
  /* grid-area: 1 / 1 / 2 / 2; */
  border: 1px solid red;
}

form {
  margin-top: 0px;
}

.radio-buttons {
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px;
}

.score-board {
  /* grid-area: 3 / 1 / 4 / 2; */
  border: 1px solid red;
}

#countdown-container {
  display: flex;
}

#time-remaining {
  flex: 1;
  text-align: center;
  color: red;
  font-size: 36px;
  padding: 0;
  width: 300px;
  margin-left: 550px;
  float: left;
  /* position: relative; */
  border: 1px solid red;
}

#countdown-clock {
  text-align: center;
  color: red;
  font-size: 36px;
  padding: 0;
  width: 300px;
  margin-right: 500px;
  float: right;
  position: relative;
  border: 1px solid red;
}

.radio-buttons {
  text-align: center;
  display: none;
  color: red;
  margin-top: 200px;
  border: 1px solid red;
}

.questions {
  text-align: center;
  color: red;
  border: 1px solid red;
}

.score-board {
  text-align: center;
  color: red;
  font-size: 36px;
  border: 1px solid red;
  display: none;
}

.start-done-buttons {
  text-align: center;
}