body {
  background-image: url(endgame.jpg);
  height: 100%;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

header {
  width: 100%;
  margin: auto;
  align-items: right;
  position: fixed;
}

.countdown-container {
  border: 1px solid red;
  /* position: fixed; */
  margin-top: 10px;
  margin-bottom: 10px;
}

form {
  margin-top: 120px;
}

.radio-buttons {
  margin-top: 10px;
  margin-bottom: 0px;
  padding: 0px;
}

#time-remaining {
  text-align: center;
  color: red;
  margin: auto;
  font-size: 36px;
  width: 300px;
  /* float: left; */
  /* position: relative; */
  border: 1px solid red;
}

#countdown-clock {
  text-align: center;
  color: red;
  font-size: 36px;
  width: 300px;
  margin: auto;
  /* float: right; */
  /* position: relative; */
  border: 1px solid red;
}

.radio-buttons {
  text-align: center;
  display: none;
  color: red;
  margin: auto;
  border: 1px solid red;
}

.questions {
  text-align: center;
  color: red;
  border: 1px solid red;
}

.score-board {
  /* text-align: center; */
  color: blue;
  font-size: 36px;
  width: 400px;
  margin: auto;
  border: 1px solid red;
  display: none;
}

.clearfix::after {
  content: " ";
  display: block;
  clear: both;
}

#number-correct {
  float: left;
  text-align: center;
}

#correct-answers {
  float: left;
  text-align: center;
  margin-left: 20px;
}

#number-incorrect {
  float: left;
  text-align: center;
}

#incorrect-answers {
  float: left;
  text-align: center;
  margin-left: 20px;
}

#number-unanswered {
  float: left;
  text-align: center;
}

#unanswered {
  float: left;
  text-align: center;
}

footer {
  text-align: center;
  width: 100%;
}

.start-done-buttons {
  margin: auto;
  align-items: center;
  position: fixed;
  margin-top: 200px;
}