body {
  background-image: url(endgame.jpg);
  /* Full height */
  height: 100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

header {
  width: 100%;
  margin: auto;
  align-items: center;
  position: fixed;
}

.countdown-container {
  border: 1px solid red;
  position: fixed;
  margin-top: 10px;
  margin-bottom: 10px;
  /* padding: 20px; */
}

form {
  margin-top: 120px;
}

.radio-buttons {
  margin-top: 110px;
  margin-bottom: 0px;
  padding: 0px;
}

.score-board {
  border: 1px solid red;
}

#countdown-container {
  display: block;
}

#time-remaining {
  text-align: center;
  color: red;
  font-size: 36px;
  padding: 0;
  width: 300px;
  margin-left: 550px;
  float: left;
  /* position: relative; */
  border: 1px solid red;
}

#countdown-clock {
  text-align: center;
  color: red;
  font-size: 36px;
  padding: 0;
  width: 300px;
  margin-right: 500px;
  float: right;
  position: relative;
  border: 1px solid red;
}

.radio-buttons {
  text-align: center;
  display: none;
  color: red;
  margin-top: 200px;
  border: 1px solid red;
}

.questions {
  text-align: center;
  color: red;
  border: 1px solid red;
}

.score-board {
  text-align: center;
  color: red;
  font-size: 36px;
  border: 1px solid red;
  display: none;
}

footer {
  text-align: center;
  width: 100%;
}

.start-done-buttons {
  margin: auto;
  align-items: center;
  position: fixed;
  margin-top: 200px;
}